[project]
	description = Personal webpage
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Hunkyo Jung (kyo504)
[access "refs/for/refs/*"]
	read = group user/Hunkyo Jung (kyo504)
	push = group user/Hunkyo Jung (kyo504)
	label-Code-Review = -2..+2 group user/Hunkyo Jung (kyo504)
	label-Verified = -1..+1 group user/Hunkyo Jung (kyo504)
	rebase = group user/Hunkyo Jung (kyo504)
	removeReviewer = group user/Hunkyo Jung (kyo504)
	submit = group user/Hunkyo Jung (kyo504)
[access "refs/heads/*"]
	read = group user/Hunkyo Jung (kyo504)
	create = group user/Hunkyo Jung (kyo504)
	push = +force group user/Hunkyo Jung (kyo504)
	pushMerge = group user/Hunkyo Jung (kyo504)
[access "refs/tags/*"]
	push = +force group user/Hunkyo Jung (kyo504)
	pushTag = group user/Hunkyo Jung (kyo504)
	pushSignedTag = group user/Hunkyo Jung (kyo504)
